*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* navber section */
#navbar{
    max-width: 1600PX;
    margin: 0 auto;
    width: 100%;
}

nav{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #1A0B2E;
    padding: 20px 40px;
}
.manu{
    display: flex;
    list-style: none;
    margin: 2.28rem;
    gap: 2rem;
}
.manu a{
    text-decoration: none;
    font-size: 1rem;
    color: #FFFFFF;
}
.btn{

    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8) ;
    border-radius: 10px;
    padding:8px 20px;
    display: flex;
    cursor: pointer;
    border: none;
    gap: 10px;
    
    
}

.btn-text {
    color: #FFFFFF;
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 600;
    
}
.Arrow{
    margin-top: 12px;
    

}
.hamburger{
    display: none;
    background: none;
    border: none;
}
.navbar{

    margin-top: 30px;
    

}
.wave-hub{

    color: #FFFFFF;
}
.navber-hub{
    color: #FB09B4;
}

.section-banar{
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    background-image: url(./assets/hero-bg.png) ;
background-color: #1a0b2c;
    display: flex;
    justify-content: center;
    align-items: center;
background-position: center;
border: solid red;
background-repeat: no-repeat;
 padding-top: 4rem; 
padding-bottom: 4rem;




    
}
.hero-content{
    text-align: center;
    
    
}
.circle-wrap{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    /* top: -5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    


}
.circle{
    width: 100%;
    
}
.microphone{
    position: absolute;
   /* top: 90px; */
   /* left: 125px; */
   width:100px;
   transform: translate(-50%, );


    
}
.primary-btn{
    position: absolute;
    top: 10px;
    right: 10%;
    /* left: 220px; */
    background-color: #00FF88;
    width: 4.6rem;
    height: 2.37rem;
    border-radius: 20px;
    font-size: 1.12rem;
    font-weight: 700;
    color: #1A0B2E;
    cursor: pointer;
    /* transform: rotate(45); */
    
    
}
.TechWave{
    margin-top: 2.5rem;
    padding-bottom: 8px;
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}

.section-paraghaph{
    font-size: 1rem;
    opacity: 80%;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.spotify-btn{
     background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8) ;
    width: 200px;
    height: 44px;
    padding-bottom: 25px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    
    
    
    
}

.spotify{
      width: 20px;
    padding-top: 5px;
    margin-right: 10px;
    opacity: 100%;

}
.btn-subscribe{
    width: 140px;
    height: 40px;
    border-radius: 12px;
    background:#230E3D;
    border: solid #00FF88;
    
}
.subscribe{
   padding-left: 10px;
   color: #00FF88;
   font-size: 1rem;
   font-weight: 700;
}





.about-section{
    max-width: 1600px;
    margin: 0 auto;
     padding: 0;
    background-color: #1A0B2E;
    /* border: #FB09B4 solid; */
}
.about-title{
    text-align: center;

}
.about-title h2{
    padding-top: 3.125rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.about-subtitle{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
}
hr{
   margin: 80px 200px; 
   border: 1px solid var(--#FFFFFF, rgba(255,255,255,1));
   opacity: 0.1;
}

.about-container{
     width: 100%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding-bottom: 120px;
    
}
.all-number-average h4{
       text-align: center;
       color: #00FF88;
       font-size: 3rem;
}
.all-number-average p{
    padding-top: 1rem;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.4rem;
    text-align: center;
}


.hero-container{
    max-width: 1600px;
    border: solid red;
    background-color: #230E3D;
    margin: 0 auto;

    
}

 .Tech{
    position: relative;
    height: 58px;
}
.Tech h2{
    position: absolute;
    top: 120px;
    left: 35%;
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: bold;
    
}


.container{
    box-sizing: border-box;
    /* width: 100%; */
    display: grid;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: start; */
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* margin: 180px auto 0; */
    margin: 100px auto;
    /* padding-bottom: 30px; */
    padding: 20px;
}




.box-1{
    grid-column: span 1; 
    grid-row: span 2;
    max-width: 380px;
    /* width: 380px; */
    /* height: 480px; */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),inset 0 0 10px rgba(255,255,255,0.05);
    background: rgba(255,255,255,0.05);
    
    
    
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
      /* width: 780px;  */
     /* height: 215px;  */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),inset 0 0 10px rgba(255,255,255,0.05);
    background: rgba(255,255,255,0.05);
    
}
.box-3{
    grid-column: span 2;
    grid-row: span 1;
     /* width: 790px; */
    /* height: 205px;  */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),inset 0 0 10px rgba(255,255,255,0.05);
    background: rgba(255,255,255,0.05);
    
    
    
}

.box-4{
    grid-column: span 2;
    grid-row: span 1;
     /* width: 790px; */
    /* height: 273px;  */
    /* margin-top: -25px; */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),inset 0 0 10px rgba(255,255,255,0.05);
    background: rgba(255,255,255,0.05);
    
}
.box-5{
    grid-column: span 1;
    /* width: 380px; */
    /* height: 273px;  */
    /* padding-top: 20px; */
    
    /* margin-top: 25px; */
 border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),inset 0 0 10px rgba(255,255,255,0.05);
    background: rgba(255,255,255,0.05);
    
}
.headphone-img{
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 12px;
}
.device-img, .location-img, .icon-img,.resource-img{
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.box-1, .box-2, .box-3, .box-4, .box-5,h4,p{
    padding-left: 1.5rem;
} 

.text-item{
    font-size: 1.5rm;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 1rem;
}
.text-pgph{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.8rem;
}
/* Featured-Episodes */
.main-continer{
    background: #1A0B2E;
    padding-bottom: 50px;
    max-width: 1600px;
    margin: 0 auto;
}
   


.feature{
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.video-grid{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    
    
}
.video-card{
    width: 380px;
    height: 440px;
    background: rgba(255,255,255,0.1);
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.15);
    
    
}
.Episode-card{
    width: 370px;
    height: 214px;
    border-radius: 20px;
    
     
}
.card-info h3{
   padding-top: 24px;
   padding-left: 24px;
   font-size: 1.5rem;
   color: #FFFFFF;
}
.card-info p{
    padding-top: 12px;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    opacity: 60%;

}


.clock-section{
    
    padding-left: 24px;
    padding-top: 12px;
    display:flex;
    
}

.clock-section a{
    text-decoration: none;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
   
    
}




.Meet h1{
   padding-top: 120px;
   text-align: center;
   color: #FFFFFF;
   padding-bottom: 40px;
}
.list-hosting{
     max-width: 900px;
     width: 90%;
     margin: 40px auto;
    display: flex;
    justify-content:center;
    background: rgba(255,255,255,0.1);
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.15);
    
    
}
           
.Host-img{
    padding: 20px;
    width: 200px;
    height: 200px;
}

.Host-details h2{
          padding-top: 10px;
           padding-bottom: 12px;
           padding-left: 38px;
           font-size: 2rem;
           color: #FFFFFF;
}
.Host-details p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    opacity: 60%;
}


.list-img{
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 1rem;
    padding-left: 38px;
    padding-bottom: 20px;
     color: #F7E93F,#FB09B4,#9100F8;
     width: 40px;
    height: 40px;
    
    
}
.img-box{
    width: 16px;
    height: 16px;
   
    border-radius: 50%;
    background-color:#533C72;
}


/* Footer section */

.footer-section{
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
     background-image: url(./assets/footer-bg.png);
    background-color: #1a0b2c;
    padding: 60px 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-bottom: 50px; */
}

.footer-logo{
    color: rgba(255, 255, 255, 1);
    padding-bottom: 32px;
    opacity: 100%;
}

.footer-colour{
    color: #FB09B4;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 20px;

}
.footer-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 1rem;
    gap: 8px;
    opacity: 60%;
}
.footer-links img{
    width: 20px;
    color: #FFFFFF;

}
.copy{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}











@media screen and (max-width:576px){

.manu, .btn{
    display: none;
}
.hamburger{
    display: block;
    margin-left: 2rem;
    width: 24
    ;
    height: 24px;
    opacity: 100%;
    
}
.navbar{
   margin-left: 20px;
   margin-top: -10px;
}


/* section-banar */
.section-banar{
    background-size: 100% auto;

}
.circle-wrap{
    width: 250px;
    height: 250px;
    top: 55px;
}
.circle{
    width: 70%;
}
.primary-btn{
    top: 25px;
}

.microphone{
    width: 50px;
}
.TechWave{
    font-size: 1.5rem;
}

/*  About the Podcast-section */
.about-section{
    text-align: center;
}
.about-title h2{
    font-size: 2rem;
}
.about-subtitle{
    padding-left: 20px;
    padding-right: 20px;
}
hr{
    margin: 50px;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-right: 40px;
    
}

.all-number-average h4{
       font-size: 2.3rem; 
       opacity: 100%;
}
 .all-number-average p{
    font-size: 1rem;
    opacity: 80%;
    padding-top: 16px;
    padding-bottom: 40px;
    line-height: 24px;



}

/* Why Choose TechWave
 */
.container{
    display: grid;
    grid-template-columns: 1fr;
    
    
}
.Tech h2{
    font-size: 1rem;
    left:70px;
    
    

}
.box-2, .box-3, .box-4, .box-5{
    max-width: 400px;

}


  /* Featured episodes  */

.feature{
    font-size: 1.5rem;
    color: #F7E93F;
}


/* hosting */
.list-hosting{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    
}


/* footer-section */
.footer-section{
    background-size: 100% auto;
    
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
    max-width: 300px;
    margin: 20px auto;
}
.footer-links a{
    flex: 0 1 calc(50% -20px);
    justify-content: flex-start;
    font-size: 14px;
}




    
}

