*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* navber section */
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #1A0B2E;
}
.manu{
    display: flex;
    list-style: none;
    /* justify-content: center; */
    margin: 2.28rem;
    gap: 2rem;
}
.manu a{
    text-decoration: none;
    font-size: 1rem;
    color: #FFFFFF;
}
.btn{
    margin: 24px 200px 24px 0;
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8) ;
    border-radius: 30px;
    padding:0 16px;
}
.btn-text{
    padding-right: 30px;
    color: #FFFFFF;
}
.navbar{
    margin-left: 200px;
    margin-top: 30px;
    

}
.wave-hub{
    color: #FFFFFF;
}
.navber-hub{
    color: #FB09B4;
}